<header>
  <h1 class="recipetitle"><%= @recipe.title %></h1>
    <link href='https://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
</header>

<section class="grid">
  <section class="col-1-2">
    <h4 class="ingredtitle">Ingredients</h4>
    <link href="http://allfont.net/allfont.css?fonts=linotypezapfino-one" rel="stylesheet" type="text/css" />
    <p class="ingredlist"><%= @recipe.ingredient %></p>
  </section>
  <section class="col-1-2">
    <h4 class="directitle">Directions</h4>
    <p class="direclist"><%= @recipe.body %></p>
  </section>
</section>

<div class="editfavorites">
<% if policy(@recipe).edit? %>
  <%= link_to "Edit", edit_recipe_path(@recipe), class: 'btn btn-success' %>
<% end %>
<%= render partial: "favorites/favorite", locals: { recipe: @recipe } %>
</div>

<h3 class="commenttitle">Comments<link href='https://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'></h3>
<%= render partial: "comments/comment", collection: @comments %>
<% if policy(Comment.new).create? %>
  <%= render partial: "comments/form", locals: { recipe: @recipe, comment: @comment } %>
<% end %>
